<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
   </p>@ViewBag.Greeting @ViewBag.UserName, Nasılsın?</p>
   <p>Umarım kurslarımızdan memnunsunuzdur...</p>
   <a asp-action="apply" asp-controller="course">Başvuru Yap</a>
</body>
</html>