@model Student
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply</title>
</head>
<body>
    <form asp-action="apply" method="POST">
        <p>
            <label asp-for="Name">Adınız</label>
            <input asp-for="Name">
        </p>
        <p>
            <label asp-for="Email">Eposta</label>
            <input asp-for="Email">
        </p>
        <p>
            <label asp-for="Phone">Telefon</label>
            <input asp-for="Phone">
        </p>
        <p>
            <label asp-for="Confirm">Kursa Katılacak mısınız?</label>
            <select asp-for="Confirm">
                <option value="true">Evet,Geliyorum</option>
                <option value="false">Hayır,Gelmiyorum</option>
            </select>
        </p>
        <input type="submit" value="submit">
    </form>
    
</body>
</html>